
@{
    ViewData["Title"] = "Test";
    Layout = null;
}

<h5>Test</h5>
<div>This is the test page</div>
<br />
@{ 
    var value = "<i>Zeliha BAŞTÜRK</i>" + 
        "<p style=\"color:pink; font-weight:bold\">This is the second sentence</p>";
}
@Html.Raw(value)